@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
body{
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
}
.navbar {
  height: 3rem;
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  cursor: pointer;
}
.logo {
  padding: 0 0vw 0.15rem 1rem;
}
.logo a img {
  height: 2.25rem;
  width: 2.25rem;
  border: 1px solid white;
  border-radius: 10rem;
}
.nav-list {
  height: 3.25rem;
  display: flex;
  width: 50%;
  align-items: center;
  /* background-color: black; */
}
.nav-list li {
  list-style: none;
  padding:  0.25rem 1.25rem;
}
.nav-list li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}
.nav-list li a:hover {
  color: rgb(57, 192, 226);
}
.background-nav {
  background: rgba(0, 0, 0, 0.7) url("bg-pic.jpg");
  background-size: cover;
  background-blend-mode: darken;
  width: 100%;
  height: 3rem;
  /* height: 98vh;
  max-height: 100vw; */
}
.background {
  background: rgba(0, 0, 0, 0.7) url("bg-pic.jpg");
  background-size: cover;
  background-blend-mode: darken;
  width: 100%;
  height: 98vh;
  max-height: 100vw;
}
.rightNav {
  height: 10vh;
  width: 50%;
  text-align: right;
  /* background-color: black; */
}
.rightNav input {
  height: 2rem;
  width: 15rem;
  border-radius: 5px;
  padding: 0.5rem 0;
  margin: 2vh 0;
  background: none;
  border: 1px solid white;
}
.rightNav .btn {
  height: 2rem;
  padding: 0 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  margin: 0.15rem 1rem 0.15rem 0;
  background: none;
  color: snow;
  border: 1px solid white;
  cursor: pointer;
}
.rightNav .btn:hover {
  color: white;
  background-color: rgb(28, 112, 238);
}
#search {
  padding: 0 1px;
  font-size: 1rem;
  color: white;
}
.box-main {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  color: white;
  max-width: 100%;
  margin: auto;
  padding: 2rem;
}

.firstHalf {
  position: relative;
  top: 0rem;
  right: -3rem;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-big {
  font-size: 3.5rem;
}
.text-small {
  font-size: 1.5rem;
}
.btn-large {
  width: 10rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  color: rgb(0, 255, 157);
  background: none;
  border: 1px solid white;
  cursor: pointer;
}
.btn-large:hover {
  background-color: red;
  color: white;
}
.secondHalf {
  width: 40%;
  position: relative;
  top: 3rem;
  left: 6rem;
}
.secondHalf img {
  width: 65%;
  height: 65%;
  border-radius: 50%;
  box-shadow: 1rem 1rem 2rem rgb(133, 123, 123);
}
.section {
  height: 50vh;
  width: 75vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
}
.secSubTag {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5vw;
}
.para {
  margin: 0 2vw;
}
.imgFluid {
  height: 18vw;
  width: 22vw;
  box-shadow: 0.1vw 0.1vw 1vw grey;
}
.secLeft {
  flex-direction: row-reverse;
}
.contact {
  background-color: rgba(213, 221, 233, 0.425);
  width: 100%;
  height: auto;
}
.text-center {
  margin: 1vw auto;
  text-align: center;
}
.form {
  width: 35%;
  margin: 0 auto;
  padding: 1vw;
}
.form input {
  align-items: center;
  width: 100%;
  font-size: 1.5vw;
  border: 0.1vw solid grey;
  border-radius: 0.3vw;
  margin: 0.5vw;
}
.foot {
  background-color: rgba(176, 182, 189, 0.61);
  padding: 0.75vw 0;
  width: 100%;
  height: 2.5vw;
  font-size: 1.3vw;
  text-align: center;
}

.burger {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 15px;
}
.line {
  width: 3vw;
  background-color: snow;
  height: 0.15vw;
  margin: 0.75vw 0.25vw;
}

@media only screen and (max-width: 961px) {
  .nav-list {
    flex-direction: column;
    margin-top: 2vw;
  }
  .navbar {
    /* flex-direction: column; */
    height: 20vw;
    transition: all 0.7s ease-out;
  }
  .rightNav {
    text-align: center;
  }
  .rightNav input {
    height: auto;
    font-size: 4vw;
  }
  .rightNav .btn {
    height: auto;
    font-size: 4vw;
  }
  .box-main {
    flex-direction: column-reverse;
    max-width: 100%;
  }
  .burger {
    display: block;
  }
  .rightNav {
    text-align: left;
  }
  .h-nav-resp {
    height: 10vw;
  }
  .v-class-resp {
    opacity: 0;
  }
  .background-nav {
    height: 10vw;
  }
  .section {
    flex-direction: column;
  }
  .imgFluid {
    width: 65vw;
    height: 35vw;
    margin-top: 2vw;
  }
}

@media only screen and (max-width: 414px){
  body{
    overflow-x: hidden;
  }
  .nav-list {
    flex-direction: row;
    margin-top: 1vw;
    display: none;
  }
  .navbar {
    /* flex-direction: column; */
    height: 10vw;
    transition: all 0.7s ease-out;
  }
  .rightNav {
    width: 15rem;
    display: flex;
    height: 2rem;
    margin-left: 2rem;
  }
  .rightNav input {
    margin: 10px 5px 0 0px;
    padding: 2px;
    width: 12rem;
    height: auto;
    font-size: 1rem;
  }
  .rightNav .btn {
    margin: 10px 25px 0 0;
    padding: 1px;
    width: 6rem;
    height: auto;
    font-size: 0.75rem;
  }
  .burger {
    width: 2rem;
    height: 2rem;
    position: relative;
    top: 0.75rem;
    left: 3.25rem;
  }
  .line{
    width: 1.25rem;
    height: 0.15rem;
  }
  .background {
    background: rgba(0, 0, 0, 0.7) url("bg-pic.jpg");
    background-size: cover;
    background-blend-mode: darken;
    width: 100%;
    height: 95vh;
    max-height: 100vh;
  }
  .box-main{
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
  }
  .secondHalf {
    width: 100%;
    position: relative; 
    top: 0rem;
    left: 3.5rem;
  }
  .secondHalf img {
    width: 55%;
    height: 55%;
    border-radius: 50%;
    box-shadow: 1rem 1rem 2rem rgb(133, 123, 123);
  }
  .firstHalf{
    width: 100%;
    position: relative; 
    top: 0rem;
    left: .5rem;
  }
  .text-big{
    font-size: 2rem;
  }
  .text-small{
    font-size: 1.5rem;
  }
  .buttons{
    display: flex;
  }
  .section{
    position: relative;
    top: 1rem;
    margin: 1px auto;
  }
  .para{
    position: relative;
    top: 20rem;
  }
  .secTag .text-big{
    font-size: 1rem;
  }
}
